%h1 Pages#index
%p= link_to('Basic Datatable', basic_datatable_path)
%p= link_to('Ajax Datatable', movies_path)
.container.border.p-5
  .row.justify-content-between
    .col-2.bg-success.m-1 works!!!
    .col-2.bg-success.m-1 works!!!
    .col-2.bg-success.m-1 works!!!

.container-fluid.border.mt-5.p-5
  .row.justify-content-center
    .col-8.col-md-6.col-lg-4
      .card
        .card-body
          hello
    .col-8.col-md-6.col-lg-4
      .card
        .card-body
          hello
    .col-8.col-md-6.col-lg-4
      .card
        .card-body
          hello
.container#last-movie
  = link_to "New Movie", new_movie_path, remote: true
  %p Last movie
  = @last.name

